nav {
  position: absolute;
  top: 0;
  left: 0;
  padding: 50px;
  gap: 35px;
  width: 100%;
  @include breakpoint-down(small) {
    justify-content: center;
  }
  & img:nth-of-type(2) {
    position: absolute;
    left: 50px;
    cursor: pointer;
    z-index: 99999;
  }
  & ul {
    gap: 20px;
    display: flex;
    align-items: center;
    @include breakpoint-down(small) {
      // display: none;
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: $white;
      justify-content: center;
    }
    & li {
      color: $white;
      cursor: pointer;
      font-size: 15px;
      position: relative;
      text-transform: lowercase;
      @include breakpoint-down(small) {
        color: $black;
      }
      &::after {
        content: "";
        position: absolute;
        bottom: -10px;
        left: 50%;
        height: 2px;
        width: 0%;
        transform: translateX(-50%);
        border-radius: 20px;
        background-color: $white;
        transition: 0.3s;
      }
      &:hover::after {
        width: 50%;
      }
    }
  }
}
