@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  position: relative;
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: League Spartan;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.df {
  display: flex;
  &.jc-sb {
    justify-content: space-between;
  }
  &.jc-c {
    justify-content: center;
  }
  &.jc-sa {
    justify-content: space-around;
  }
  &.jc-fs {
    justify-content: flex-start;
  }
  &.jc-fe {
    justify-content: flex-end;
  }
  &.ai-c {
    align-items: center;
  }
  &.ai-fs {
    align-items: flex-start;
  }
  &.fd-c {
    flex-direction: column;
  }
}

.hide-in-desktop {
  @include breakpoint-up(small) {
    display: none;
  }
}

.hide-in-mobile {
  @include breakpoint-down(small) {
    display: none;
  }
}

.no-scroll {
  overflow: hidden;
}

.hide {
  display: none;
}

.show-slow {
  animation: show-slow-ani 0.4s ease-in-out forwards;
}
.hide-slow {
  animation: hide-slow-ani 0.4s ease-in-out forwards;
}

@keyframes show-slow-ani {
  from {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes hide-slow-ani {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
  }
}
